{% extends "base.html" %}

{% block title %}About | ACEest Fitness & Gym{% endblock %}

{% block content %}

<section class="page-header">

    <span class="section-label">ABOUT ACEEST</span>

    <h1>About ACEest Fitness & Gym</h1>

    <p>
        ACEest Fitness & Gym is a lightweight fitness management
        application developed as part of a DevOps implementation project.
    </p>

</section>


<section class="about-grid">

    <div class="about-card">

        <div class="large-icon">🏋</div>

        <h2>Our Application</h2>

        <p>
            The application provides basic functionality for managing
            gym members and recording workout activities.
        </p>

    </div>


</section>



{% endblock %}